<configuration>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>my.log</file>

		<encoder>
			<pattern>%date %level %logger{80} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.example.area.areabackend.web" level="info" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.example.area.areabackend.service.impl" level="info" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>